#function_candidates_1{
	margin-top : 0px;
	margin-bottom : 23px;
}

#function_candidates_2{
	margin-top : 0px;
	margin-bottom : 14px;
}

#function_candidates_3{
	margin-top : 0px;
	margin-bottom : 28px;
}

#function_candidates_4{
	margin-top : 0px;
	margin-bottom : 29px;
}

#function_candidates_5{
	margin-top : 0px;
	margin-bottom : 29px;
}

#function_candidates_6{
	margin-top : 0px;
	margin-bottom : 29px;
}

#function_candidates_7{
	margin-top : 0px;
	margin-bottom : 29px;
}

#function_candidates_8{
	margin-top : 0px;
	margin-bottom : 29px;
}