@primary-color : rgb(150, 0, 132);
@side-menu-width : 400px;
@max-article-text-width : 46em;
@responsive-threshold : 768px;
@name-text-color : white;
@statement-text-color : black;

@menu-item-text-color : white;
@menu-item-text-color-selected : black;