@import 'global_variables';

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

#body_panel {
  position: relative;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  width : 100%;

  a {
    text-decoration: none;
    color: @accent-color;
  }
}

@media screen and (max-width: @small) {

  #body_panel {
    padding: @xsmall-margins;
    padding-top: calc(2 * @top-menu-height);
  }
}

@media screen and (min-width: @small) {

  #body_panel {
    width: 100%;
    padding: @small-margins;
    padding-top: calc(2 * @top-menu-height);
  }
}

@media screen and (min-width: @medium) {

  #body_panel {
    width: 100%;
    padding: @margins;
    padding-top: calc(2 * @top-menu-height);
  }
}




