@import 'global';

h1 {
  font-size: 30pt;
  line-height: 52px;
  padding-bottom: 38px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 1.5em;
  line-height: 57px;
  padding-top: 19px;
  padding-bottom: 19px;
  color: @primary-color;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 1em;
  color: @primary-color;
  line-height: 22px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-family: 'Raleway', sans-serif;
}

.content {
  color: black;
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 12pt;
  max-width: @max-article-text-width;
  margin: 37px auto 100px;
}

.gallery {
  font-size: 0pt;
  margin-bottom: 19px;

  .left_image{
    margin-right: ~"calc(@{gallery-gap} / 2)";
  }

  .center_image{
    margin-right: ~"calc(@{gallery-gap} / 2)";
    margin-left: ~"calc(@{gallery-gap} / 2)";
  }

  .right_image{
    margin-left: ~"calc(@{gallery-gap} / 2)";
  }

  .with_border{
    border: 1px solid lightgrey;
  }

  .gallery1center {
    display: block;
    margin-left : auto;
    margin-right : auto;
  }

  .gallery1 {
    width: 100%;
  }

  .gallery2 {
    width: ~"calc((100% - @{gallery-gap}) / 2)";
    box-sizing: border-box;
  }

  .gallery3 {
    width: ~"calc((100% - (2 * @{gallery-gap})) / 3)";
    box-sizing: border-box;
  }

  .gallery4 {
    width: ~"calc((100% - (3 * @{gallery-gap})) / 4)";
    box-sizing: border-box;
  }
}

.gallery_separator{
  height: @gallery-gap;
}

p {
  font-size: 1em;
  line-height: 22px;
  margin-bottom: 19px;
  font-weight: 400;
  text-align: left;
  color: rgb(70, 70, 70);

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.article_list {
  list-style: disc outside;
  padding-left: 2em;
  margin: 0;

  li {
    font-size: 1em;
    line-height: 19px;
    font-weight: 400;
    color: rgb(70, 70, 70);
    font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.5em;
  }
}

.definitions {
  font-size: 10pt;
  color: rgb(70, 70, 70);
  margin-bottom: 19px;

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
  }

  .key {
    padding-left: 1em;
    color: #000000;
    text-align: left;
    font-weight: 600;
  }
  .value {
    text-align: left;
    padding-left: 20px;
  }
}

.pullquote-wide{
  font-family: Georgia,Georgia,serif;
  font-style: italic;
  line-height: 1.4em;
  float: left;
  margin-bottom: 19px;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 3px solid #ccc;
}
