h1 {
    font-size: 24pt;
    line-height: 38px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 14pt;
    line-height: 57px;
    padding-top: 19px;
    font-variant: small-caps;
    letter-spacing: .12em;
    font-weight: 600;
    color: rgb(150, 0, 132);
}

h3 {
    font-size: 14pt;
    line-height: 28px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    font-family: 'Raleway', sans-serif;
}

.content {

    color: black;
    font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
/ / background-image : url(../img/baseline_grid_19px_14pt.gif);
    font-size: 12pt;
    margin-top: 37px;
    margin-bottom: 100px;

    width: 45em;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 45em;
}

.gallery4 {
    width: 10.99em;
    margin-bottom: 3px;
}

.gallery3 {
    width: 14.8em;
    margin-bottom: 3px;
}

p {
    font-size: 1em;
    line-height: 19px;
    margin-bottom: 19px;
    font-weight: 400;
    text-align: left;
    color: rgb(70, 70, 70);

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1em;
    line-height: 19px;
    font-weight: 400;
    color: rgb(70, 70, 70);

    font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

    padding-left: 1em;
    text-indent: -.7em;
}

li:before {
    content: "\002022  ";
    color: grey;
}