@import 'global_variables';

.project{

  .content{
    width: 100%;
    height: 100%;
    max-width: @max-article-text-width;
    margin: 37px auto 100px;

    .date {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      letter-spacing: 1pt;

      color: @secondary-text-color;
    }

    .title {
      font-size: 2.66rem;
      line-height: 2.66rem;
      letter-spacing: 0.1rem;
      font-weight: 700;

      padding-bottom: 0.5rem;
      border-bottom: @keyline-height solid @accent-color;
      margin-bottom: 0.5rem;
      display: inline-block;
    }

    .tagline {
      font-size: 1.1rem;
      line-height: 1.5rem;
      letter-spacing: 0.025rem;
      font-weight: 500;

      margin-bottom: 1.5rem;
    }

    .tags {
      font-size: 0.7rem;
      color: @secondary-text-color;
      margin-bottom: 1.5rem;
      line-height: 1.5rem;

      .tag {
        margin-right: 0.6rem;
        letter-spacing: 0.08rem;
      }
    }

    p , span.article_list {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }

    .subtitle {
      font-size: 1.33rem;
      letter-spacing: 0.02rem;
      font-weight: 600;

      margin-top: 2.66rem;
      margin-bottom: 1.33rem;

      //trick to offset the anchor
      padding-top:  ~"calc(@{top-menu-height} * 2)";
      margin-top: ~"calc(-1 * @{top-menu-height} * 2 + 2.66rem)"; //add the original margin top
    }

    .subtitle2 {
      font-size: 1rem;
      letter-spacing: 0.01rem;
      font-weight: 600;

      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    ul.article_list {
      list-style: disc outside;
      padding-left: 2rem;
      margin-bottom: 1rem;

      li {
        font-size: 1rem;
        line-height: 1.45rem;
        font-weight: 300;
      }
    }
  }

}

.gallery {
  font-size: 0pt;
  margin-bottom: 1rem;
  position: relative;

  .left_image{
    margin-right: ~"calc(@{gallery-gap} / 2)";
  }

  .center_image{
    margin-right: ~"calc(@{gallery-gap} / 2)";
    margin-left: ~"calc(@{gallery-gap} / 2)";
  }

  .right_image{
    margin-left: ~"calc(@{gallery-gap} / 2)";
  }

  .with_border{
    border: 1px solid lightgrey;
  }

  .gallery1center {
    display: block;
    margin-left : auto;
    margin-right : auto;
  }

  .gallery1 {
    width: 100%;
  }

  .gallery2 {
    width: ~"calc((100% - @{gallery-gap}) / 2)";
    box-sizing: border-box;
  }

  .gallery3 {
    width: ~"calc((100% - (2 * @{gallery-gap})) / 3)";
    box-sizing: border-box;
  }

  .gallery4 {
    width: ~"calc((100% - (3 * @{gallery-gap})) / 4)";
    box-sizing: border-box;
  }

}

.gallery_separator{
  height: @gallery-gap;
}

.pullquote-wide{
  font-style: italic;
  line-height: 1.45rem;
  float: left;
  margin-bottom: 1rem;
}

.pullquote-wide::before {
  content: "\" ";
  color: @secondary-text-color;
  font-weight: bold;
  font-size: 1rem;
}

.video_overlay {
  position: absolute;
  top : 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-position-x: center;
  background-position-y: center;
  background-size: 72px 72px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-origin: initial;
  background-clip: initial;
}

.overlay_play{
  background-image: url("../img/play.svg");
  background-color: rgba(0, 0, 0, 0.498039);
}

.overlay_pause{
  background-image: url("../img/pause.svg");
  background-color: rgba(0, 0, 0, 0.498039);
}

.overlay_caption{
  position: absolute;
  width: ~"calc(100% - 20px)";
  bottom: 10px;
  right: 10px;
  left: 10px;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-variant: small-caps;
  font-size: 14pt;
  line-height: 19px;
  color: white;
}

#disqus_thread{
  margin-top: 76px;
}

