@media screen and (min-width: 1000px) {
  #about_projects {
    height: 210px;
  }
}
#about_projects p {
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", Arial, sans-serif;
  color: black;
  font-size: 12pt;
  line-height: 19px;
  margin-bottom: 19px;
}
#projects_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#projects_list .project {
  position: relative;
  width: 200px;
  height: 300px;
}
@media screen and (min-width: 1000px) {
  #projects_list .project {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1000px) {
  #projects_list .project {
    margin-left: auto;
    margin-right: auto;
  }
}
#projects_list .project:hover {
  color: #960084;
}
#projects_list .project .project_thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #960084;
  box-sizing: border-box;
}
#projects_list .project .project_thumbnail a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#projects_list .project .project_title {
  margin-top: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12pt;
  line-height: 19px;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #960084;
  opacity: 0.9;
  color: white;
  visibility: hidden;
  pointer-events: none;
  display: table;
}
.overlay .topics {
  position: relative;
  top: -50%;
  opacity: 1;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-variant: small-caps;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.overlay .topics .topic {
  margin-bottom: 5px;
}
.overlay_inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: static;
}
