.project .content {
  width: 100%;
  height: 100%;
  max-width: 46em;
  margin: 37px auto 100px;
}
.project .content .date {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  letter-spacing: 1pt;
  color: #908F8F;
}
.project .content .title {
  font-size: 2.66rem;
  line-height: 2.66rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 10px solid #a227be;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.project .content .tagline {
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.project .content .tags {
  font-size: 0.7rem;
  color: #908F8F;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}
.project .content .tags .tag {
  margin-right: 0.6rem;
  letter-spacing: 0.08rem;
}
.project .content p,
.project .content span.article_list {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.project .content .subtitle {
  font-size: 1.33rem;
  letter-spacing: 0.02rem;
  font-weight: 600;
  margin-top: 2.66rem;
  margin-bottom: 1.33rem;
  padding-top: calc(56px * 2);
  margin-top: calc(-1 * 56px * 2 + 2.66rem);
}
.project .content .subtitle2 {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.project .content ul.article_list {
  list-style: disc outside;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.project .content ul.article_list li {
  font-size: 1rem;
  line-height: 1.45rem;
  font-weight: 300;
}
.gallery {
  font-size: 0pt;
  margin-bottom: 1rem;
  position: relative;
}
.gallery .left_image {
  margin-right: calc(10px / 2);
}
.gallery .center_image {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.gallery .right_image {
  margin-left: calc(10px / 2);
}
.gallery .with_border {
  border: 1px solid lightgrey;
}
.gallery .gallery1center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gallery .gallery1 {
  width: 100%;
}
.gallery .gallery2 {
  width: calc((100% - 10px) / 2);
  box-sizing: border-box;
}
.gallery .gallery3 {
  width: calc((100% - (2 * 10px)) / 3);
  box-sizing: border-box;
}
.gallery .gallery4 {
  width: calc((100% - (3 * 10px)) / 4);
  box-sizing: border-box;
}
.gallery_separator {
  height: 10px;
}
.pullquote-wide {
  font-style: italic;
  line-height: 1.45rem;
  float: left;
  margin-bottom: 1rem;
}
.pullquote-wide::before {
  content: "\" ";
  color: #908F8F;
  font-weight: bold;
  font-size: 1rem;
}
.video_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position-x: center;
  background-position-y: center;
  background-size: 72px 72px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-origin: initial;
  background-clip: initial;
}
.overlay_play {
  background-image: url("../img/play.svg");
  background-color: rgba(0, 0, 0, 0.498039);
}
.overlay_pause {
  background-image: url("../img/pause.svg");
  background-color: rgba(0, 0, 0, 0.498039);
}
.overlay_caption {
  position: absolute;
  width: calc(100% - 20px);
  bottom: 10px;
  right: 10px;
  left: 10px;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-variant: small-caps;
  font-size: 14pt;
  line-height: 19px;
  color: white;
}
#disqus_thread {
  margin-top: 76px;
}
