@import 'global_variables';

#projects_list {

  .project {

    .content{
      margin: 0 auto 3rem;

      .title {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 0.05rem;

        border-bottom: calc(@keyline-height/2) solid @accent-color;
      }

      .tagline {
        font-size: 1rem;
        line-height: 1.4rem;
        letter-spacing: 0.02rem;

        margin-bottom: 1rem;
      }

      .tags {
        margin-bottom: 1rem;
      }
    }

  }
}