h1 {
  font-size: 24pt;
  line-height: 38px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-size: 14pt;
  line-height: 57px;
  padding-top: 19px;
  font-variant: small-caps;
  letter-spacing: .12em;
  font-weight: 600;
  color: #960084;
}
h3 {
  font-size: 14pt;
  line-height: 28px;
  font-weight: 400;
  color: #969696;
  font-family: 'Raleway', sans-serif;
  line-height: 38px;
}
.content {
  color: black;
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 12pt;
  max-width: 46em;
  margin: 37px auto 100px;
}
.gallery {
  font-size: 0pt;
  margin-bottom: 19px;
}
.gallery .left_image {
  margin-right: calc(10px / 2);
}
.gallery .center_image {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.gallery .right_image {
  margin-left: calc(10px / 2);
}
.gallery .with_border {
  border: 1px solid lightgrey;
}
.gallery .gallery1center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gallery .gallery1 {
  width: 100%;
}
.gallery .gallery2 {
  width: calc((100% - 10px) / 2);
  box-sizing: border-box;
}
.gallery .gallery3 {
  width: calc((100% - (2 * 10px)) / 3);
  box-sizing: border-box;
}
.gallery .gallery4 {
  width: calc((100% - (3 * 10px)) / 4);
  box-sizing: border-box;
}
.gallery_separator {
  height: 10px;
}
p {
  font-size: 1em;
  line-height: 22px;
  margin-bottom: 19px;
  font-weight: 400;
  text-align: left;
  color: #464646;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}
.article_list {
  list-style: disc outside;
  padding-left: 2em;
  margin: 0;
}
.article_list li {
  font-size: 1em;
  line-height: 19px;
  font-weight: 400;
  color: #464646;
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
}
.definitions {
  font-size: 10pt;
  color: #464646;
  margin-bottom: 19px;
}
.definitions td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}
.definitions .key {
  padding-left: 1em;
  color: #000000;
  text-align: left;
  font-weight: 600;
}
.definitions .value {
  text-align: left;
  padding-left: 20px;
}
.pullquote-wide {
  font-family: Georgia,Georgia,serif;
  font-style: italic;
  line-height: 1.4em;
  float: left;
  margin-bottom: 19px;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 3px solid #ccc;
}
