
.content {
    width: 46em;
}

.article_image {
	width : 46em;
	border : 1px rgb(226, 226, 226) solid;
}

#test_history_1{
	margin-top : 0px;
	margin-bottom : 3px;
}

#test_history_2{
	margin-top : 0px;
	margin-bottom : 3px;
}

#test_history_3{
	margin-top : 0px;
	margin-bottom : 3px;
}

#test_history_4{
	margin-top : 0px;
	margin-bottom : 16px;
}

#test_history_5{
	margin-top : 0px;
	margin-bottom : 16px;
}

#test_history_6{
	margin-top : 0px;
	margin-bottom : 2px;
}

#test_history_7{
	margin-top : 0px;
	margin-bottom : 2px;
}

#test_history_8{
	margin-top : 0px;
	margin-bottom : 2px;
}

#test_history_9{
	margin-top : 0px;
	margin-bottom : 2px;
}

#test_history_10{
	margin-top : 0px;
	margin-bottom : 2px;
}

#test_history_11{
	margin-top : 0px;
	margin-bottom : 2px;
}

#test_history_12{
	margin-top : 0px;
	margin-bottom : 2px;
}

#test_history_13{
	margin-top : 0px;
	margin-bottom : 2px;
}